<div id="sidepanel">
    <div id="profile">
        <div class="wrap">
            <img id="profile-img"
                src="https://www.nicepng.com/png/full/128-1284589_download-chat-icon-skype-group-logo.png"
                class="online" alt="" />
            <p>Socket.io chat</p>
            <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
            <div id="status-options">
                <ul id="namespaces"></ul>
            </div>
        </div>
    </div>
    <div id="search">
        <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
        <input type="text" placeholder="Search contacts..." />
    </div>
    <div id="contacts">
        <ul></ul>
    </div>
</div>