<div id="frame">
    <%-include("/home/sadra/myNodeJsCode/store-project/resource/views/layouts/content.ejs")%>
    <%-include("/home/sadra/myNodeJsCode/store-project/resource/views/layouts/sidepanel.ejs")%>
</div>